button{
    background: red;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.patrat{
    display: flex;
    background: yellow;
    width: 50px;
    height: 100px;
    flex-direction: column;
}
